body {
  margin: 0;
  background-color: rgb(231, 231, 231);
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav {
  background-color: #a2b6d2;
  margin: 0;
  height: 4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: HeadlandOne;
}
nav h1 {
  margin: 0;
}
img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
#bf-logo {
  margin-left: 30px;
  padding-bottom: 5px;
}
#github-logo {
  margin-left: auto;
  margin-right: 30px;
}
textarea {
  resize: none;
  word-wrap: break-word;
  color: #63ff55;
}
.container {
  padding: 2rem 2rem;
  display: grid;
  grid-template: 70vh / 70fr 30fr;
}
#editor {
  margin-right: 2rem;
  padding: 1rem;
  background-color: #112f4f;
}
#terminal {
  padding: 1rem;
  background-color: rgb(21, 19, 19);
}
button {
  width: 4rem;
  height: 2rem;
  margin: 0;
  gap: 10px;
  border-radius: 0 0 10px 10px;
  background: #47c83b;
}
button:hover {
  background-color: #16a13e;
}
