:root {
  --medium-blue: #144272;
}
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}
.container {
  margin-bottom: 0;
}
header {
  color: #fff;
  padding: 15px;
  width: 100vw;
  height: 40px;
  font-size: 30px;
  font-family: HeadlandOne;
  background-color: #23292e;
  margin-bottom: 30px;
}
textarea {
  resize: none;
  word-wrap: break-word;
}
#logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #fff;
}
.left {
  width: 301px;
  height: 76px;
  flex-shrink: 0;
}
#editor {
  width: 838px;
  height: 400px;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 40px;
  flex-shrink: 0;
  background: var(--medium-blue);
  color: #63ff55;
}
#terminal {
  width: 457px;
  height: 408px;
  padding-left: 20px;
  margin-left: 40px;
  align-self: right;
  align-content: right;
  background: var(--medium-blue);
}
#run {
  display: inline-flex;
  height: 46px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0 0 10px 10px;
  background: #16a13e;
  padding-left: 20px;
  margin-left: 40px;
}
